<configuration>
    <system.webServer>

     <handlers>
       <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
     </handlers>

     <security>
       <requestFiltering>
         <hiddenSegments>
           <add segment="node_modules" />
           <add segment="iisnode" />
         </hiddenSegments>
       </requestFiltering>
     </security>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <remove name="ReverseProxyInboundRule1" />
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="http://localhost:3110/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <caching enabled="false" enableKernelCache="false" />
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
     </system.webServer>
 </configuration>
